.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  min-height: 100vh;
  padding-bottom: 20px;
}
.logo {
  margin-top: 20px;
}
.username {
  margin-top: 20px;
  color: white;
}
.new-btn {
  width: 100%;
}
.btn {
  margin-top: 20px;
  width: 100%;
}
